.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 350px;
    padding: 20px;
    margin: 50px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .card:hover {
    /* transform: translateY(-10px); Moves the card up */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); /* Deepens the shadow */
}
  .card-icon {
    font-size: 3rem;
    color: #333;
    margin-bottom: 10px;
  }
  .card-content {
    flex-grow: 1;
}
  
  .card-title {
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inknut Antiqua';
    margin-bottom: 10px;
    color:#000000;

  }
  
  .card-description {
    font-size: 14px;
    font-weight: 500;
    color: #808080;
    font-family: 'Inknut Antiqua';
    margin-bottom: 10px;
  }
  
  .card-button {
   
    background-color: #ffffff;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
