/* Navbar.css */

.navbar {
  background-color: #000;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-links a:hover {
  color: pink;
}

.active {
  background-color: #444;
  border-radius: 5px;
}

.active a {
  color: #fff;
}