.main{
    height: 100vh;
}
.container{
    background-color: black;
    color: white;
    height: 100%;
    overflow: auto;
}
.upper{
display: flex;
flex-direction: column;
position: absolute;
justify-content: center;
align-items: center;
top: 272;
left: 566px;
}
.upper h1{
    font-family: Inknut Antiqua;
    font-weight: 700;
    color:#ffffff;
font-size: 64px;
line-height: 56px;
}
.upper span{
    color:  #808080;
    font-family: Inknut Antiqua;
    font-weight: 700;
    font-size: 16px;
}

.upper span a{
    color: #808080;
   text-decoration: none;
}
.upper span a:hover {
    color: #ffffff;
  }

.lower{
    display: flex;
    margin-top: 300px;
    margin-bottom: 0;
    justify-content: center;
}
.lower-left{
    display: flex;


}
.lower-left img{
    height: 260px;
    width: 406px;
    box-shadow: -51px 36px 4.9px 0px #0081A1;
   margin-bottom: 5px;
}
.lower-right{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.lower-right-upper{
    display: flex;
    align-items: center;

}
.heading{
    margin-left: 40px;
    margin-top: 2px;

    
}
h2{
    font-family: Inknut Antiqua;
    font-weight: 700;
    margin: 0;
}
.lower-right-down ul{
    list-style: none;
}
.list{
    display: flex;
    padding: 10px;
    font-family: Inknut Antiqua;
    font-weight: 700;
}
.check {
    width: 25px;
    height: 25px;
 
    margin-right: 1rem;
  }


.blue-line {
    border-left: 6px solid rgb(37, 141, 193);
    height: 80px;
  }
  